@font-face {
  font-family: 'Fira Sans Regular', sans-serif;
  src: url(../fonts/FiraSans-Regular.ttf); }

@font-face {
  font-family: 'Fira Sans Medium', sans-serif;
  src: url(../fonts/FiraSans-Medium.ttf); }

@font-face {
  font-family: 'Montserrat Bold', sans-serif;
  src: url(../fonts/Montserrat-Bold.ttf); }
