.footer__hr{
    opacity: 0.2;
    border: 1px solid #484848
}
.footer__wrapper{
    width: 88%;
    margin: 0 auto;
}
.footer__items{
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
}
.footer__item{
    font-size: 12px;
    color: #484848;
    opacity: 0.5;
    font-family: sans-serif;
}
.footer__links{
    display: flex;
}
@media screen and (max-width:425px){
    .footer__item--logo{
        text-align: center;
        margin: 0 auto;
        justify-content: center;
        
    }
    .footer__items{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer__item{
        margin-bottom: 28px;
        margin-top: 24px;
    }
}