header{
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 906px;
    max-width: 100%;
}
.header__item{
    text-align: center;
    font-size: 24px;
    font-family: "Fira Sans", sans-serif;
    color:#fff;
    padding-top: 458px;
}
.header__item--scroll{
    display: block;
    text-align: center;
    padding-top: 44px;
}
